.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

.body {
  background-color: #f5f5f5;
  font-family: Lato, sans-serif;
}

.hero-section {
  position: relative;
  height: 100vh;
}

.hero-bg-vid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.heading {
  display: block;
  margin-top: 1em;
  margin-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Rajdhani, sans-serif;
  font-size: 6rem;
  line-height: 4rem;
  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.heading-3 {
  margin-top: 0px;
  font-family: Rajdhani, sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  text-align: center;
}

.list {
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.problem {
  padding-top: 0em;
  padding-bottom: 0em;
}

.c-section-text {
  display: -ms-grid;
  display: grid;
  height: 25vh;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: center;
}

.paragraph {
  display: inline-block;
  padding-bottom: 60px;
  float: left;
  text-align: left;
}

.fixed-menu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.menu {
  position: fixed;
  left: 0%;
  top: 25vh;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.menu.is-light {
  z-index: 2;
  display: none;
}

.menu.is-dark {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menu-symbol {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10vw;
  height: 100vh;
  margin-top: 25vh;
  margin-right: 30px;
  padding-left: 0.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
  text-align: left;
}

.menu-link-light {
  display: inline-block;
  margin-bottom: 1em;
  padding-left: 5px;
  border-left: 2px solid #bbb;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Rajdhani, sans-serif;
  color: transparent;
  text-decoration: none;
}

.menu-link-light:hover {
  color: #bbb;
}

.menu-link-light:focus {
  border-left-color: #fff;
  color: #bbb;
}

.menu-link-light.w--current {
  border-bottom: 0px none #9e6033;
  border-left-width: 3px;
  border-left-color: #fff;
  -webkit-transition: color 200ms ease, border-width 200ms ease;
  transition: color 200ms ease, border-width 200ms ease;
  color: #fff;
  text-decoration: none;
}

.c-project {
  width: 100%;
  height: 100%;
}

.c-project-item {
  height: 75vh;
  margin-bottom: 5vh;
  background-image: url('../images/Left_Side_Occlusion.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.c-footer {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.heading-4 {
  display: inline-block;
  margin-top: 0px;
  float: left;
}

.text-block {
  padding-top: 6em;
  padding-bottom: 6em;
  background-color: #000;
  color: #696969;
}

.menu-link {
  display: inline-block;
  margin-bottom: 1em;
  padding-left: 5px;
  border-left: 2px solid #bbb;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Rajdhani, sans-serif;
  color: transparent;
  text-decoration: none;
}

.menu-link:hover {
  border-left-color: #bbb;
  color: #bbb;
}

.menu-link:focus {
  border-left-color: #bbb;
  color: #bbb;
}

.menu-link.w--current {
  border-bottom: 0px none #9e6033;
  border-left-width: 3px;
  border-left-color: #696969;
  -webkit-transition: color 200ms ease, border-width 200ms ease;
  transition: color 200ms ease, border-width 200ms ease;
  color: #696969;
  text-decoration: none;
}

.learn-more {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 5%;
  margin-top: 12em;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.sub-hero {
  position: static;
  z-index: 4;
  display: none;
  overflow: visible;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.86);
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.container {
  padding-top: 2em;
  padding-bottom: 2em;
}

.column {
  border-right: 1px solid #000;
}

.column.border-right {
  display: block;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right-color: #fff;
  text-align: center;
}

.column.border-right-transparent {
  display: block;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right-color: hsla(0, 0%, 100%, 0);
  text-align: center;
}

.col-text {
  padding: 20px;
  color: #fff;
  text-align: center;
}

.div-block {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: auto;
  height: auto;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  padding: 1em;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}

.close-it {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 5%;
  margin-top: 12em;
  color: #fff;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.s-hero-grid {
  height: 90vh;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: 1.25fr 0.75fr;
  grid-template-rows: 1.25fr 0.75fr;
}

.s-hero-image {
  background-image: url('../images/sentinel_header_02.jpg');
  background-position: 20% 80%;
  background-size: cover;
}

.s-hero-content {
  margin-bottom: 0px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 2em;
  line-height: 1.3em;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.paragraph-2 {
  width: auto;
  margin-bottom: 20px;
  color: #fff;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 300;
}

.btn {
  margin-right: 10px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: #d6262a;
  border-radius: 3px !important;
  background-color: #d6262a !important;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #fd0006 !important;
}

.btn.btn-second {
  background-color: rgba(214, 38, 42, 0) !important;
}

.btn.btn-second:hover {
  background-color: rgba(255, 0, 6, 0.25) !important;
}

.image-2 {
  width: auto;
  height: auto;
  max-width: 200px;
  padding: 0px;
}

.s-main {
  margin-bottom: 0px;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #efefef;
}

.heading-6 {
  margin-top: 0px;
  font-size: 24px;
}

.s-options {
  padding-top: 3em;
  padding-bottom: 3em;
}

.main-content-heading-1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 700;
}

.main-content-heading-2 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: Lato, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.feature-list-item {
  padding-bottom: 10px;
  font-weight: 700;
}

.paragraph-3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}

.p-attention {
  color: #444;
  font-weight: 700;
}

.form-container {
  padding: 30px 20px;
  border-radius: 10px;
  background-color: #fff;
}

.column-2 {
  padding-right: 40px;
}

.main-content-heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.paragraph-4 {
  padding-top: 10px;
}

.feature-list-item-sm {
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.icon-link {
  font-family: 'Fa 400', sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
}

.b-icon-link {
  padding-right: 40px;
  color: #8f8f8f !important;
  text-decoration: none;
  text-align: center;
}

.b-icon-link:hover {
  color: #636363;
}

.p-light {
  padding-top: 30px;
  padding-bottom: 15px;
  color: #666;
  font-weight: 300;
}

.caption {
  padding-top: 6px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

.text-block-3 {
  font-family: 'Fa solid 900', sans-serif;
}

.icon-link-solid {
  font-family: 'Fa solid 900', sans-serif;
  font-size: 60px;
  line-height: 60px;
}

@media screen and (max-width: 767px) {
  .image-2 {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .sub-hero {
    overflow: scroll;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .s-hero-image {
    background-position: 20% 100%;
  }

  .s-hero-content {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .heading-5 {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  .paragraph-2 {
    width: auto;
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .btn {
    margin-bottom: 10px;
    font-size: 0.7rem;
    line-height: 0.9rem;
  }

  .image-2 {
    display: none;
  }
}

#w-node-a44163db-d5af-b718-8cdf-355e2907fd95-fc4aa1e3 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_711616d3-0083-c529-f42e-c6b2974941ab-fc4aa1e3 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_317af7a9-0918-011f-a143-4348fa8cbfdb-fc4aa1e3 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_317af7a9-0918-011f-a143-4348fa8cbfdd-fc4aa1e3 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-a44163db-d5af-b718-8cdf-355e2907fd95-498ac8f5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_711616d3-0083-c529-f42e-c6b2974941ab-498ac8f5 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_317af7a9-0918-011f-a143-4348fa8cbfdb-498ac8f5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_317af7a9-0918-011f-a143-4348fa8cbfdd-498ac8f5 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_7defb24f-09db-6a9e-e8de-5652bfa7c6c3-760ab961 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

#w-node-_7defb24f-09db-6a9e-e8de-5652bfa7c6c4-760ab961 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.navbar .container, .copyright .container {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.navbar-default .navbar-nav>li>a {
  font-size: 14px;
}