---
layout: default
page-type: contact
title: Contact StoneAge
excerpt: Contact and location information, sales and dealer information, support information for StoneAge high pressure waterblasting, sewer jetting, and downhole cleaning equipment.
permalink: /contact
contact-main: yes
---

<!-- Contact Main -->
<section id="contact">
  <!-- Google Map -->
  <div id="main-map-canvas" class="mapping"></div>

  <div class="fluid-container landing-nav margin-bottom-30">
    <div class="container">
      <h1 class="page-heading">Call Us +1 (970) 259-2869 &nbsp;|&nbsp; Toll Free (866) 795-1586</h1>
      <h4 class="small">OUR SUPPORT TEAM IS HERE TO HELP. WE GLADLY RESPOND TO INQUIRIES AND PROVIDE ADVICE ON YOUR WATERBLAST CHALLENGES. <span class="grey">Monday through Friday 8:00am - 5:00pm MST</span></h4>
    </div>
  </div>

  <!-- Nav tabs -->
  <div class="contact-nav container">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#contact-tab" aria-controls="contact-tab" role="tab" data-toggle="tab">Contact</a></li>
      <li role="presentation"><a href="#sales-tab" aria-controls="sales-tab" role="tab" data-toggle="tab">Sales</a></li>
      <li role="presentation"><a href="#rentals-tab" aria-controls="rentals-tab" role="tab" data-toggle="tab">Rentals</a></li>
      <li role="presentation"><a href="#wb-tab" aria-controls="wb-tab" role="tab" data-toggle="tab">Waterblast Dealers</a></li>
      <li role="presentation"><a href="#sewer-tab" aria-controls="sewer-tab" role="tab" data-toggle="tab">Sewer Dealers</a></li>
      <li role="presentation"><a href="#downhole-tab" aria-controls="downhole-tab" role="tab" data-toggle="tab">Downhole Dealers</a></li>
    </ul>
    <div class="tab-content padding-tb-30">
      
      <!-- Contact Tab Content -->
      <div role="tabpanel" class="tab-pane active" id="contact-tab">
        <div class="row">
          <div class="col-sm-4 contact-method">
            <h2>
            <i class="fa fa-map-marker"></i><br/>Locations</h2>
            <hr>
            <h3>Durango Headquarters</h3>
            <p>+1 (970) 259-2869<br/>
              <a href="/durango-headquarters">View details</a></p>
            <h3>Houston Area</h3>
            <p>
              <i class="fa fa-star" st></i> <em>Rental Location</em> <i class="fa fa-star" st></i><br>
              +1 (281) 888-5069<br/>
              <a href="/houston">View details</a></p>
            <h3>Louisiana</h3>
            <p>
              <i class="fa fa-star" st></i> <em>Rental Location</em> <i class="fa fa-star" st></i><br>
              +1 (225) 508-3520<br/>
              <a href="/louisiana">View details</a></p>
            <h3>Ohio</h3>
            <p>
              <i class="fa fa-star" st></i> <em>Rental Location</em> <i class="fa fa-star" st></i><br>
              +1 (440) 230-8080<br/>
              <a href="/ohio">View details</a></p>
          </div>
          <!-- E-mail Us -->
          <div class="col-sm-4 contact-method">
            <h2><i class="fa fa-envelope"></i><br/>Email Us</h2>
            <hr> 
            <!--**** HubSpot contact form ****-->
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
                portalId: '1875880',
                formId: '4ebf2c10-379c-4fc6-92f0-c8b9f82d93e7'
              });
            </script>
            <!--**** End HubSpot contact form ****-->
            
          </div> 
          <!-- Social Share-->
          <div class="col-sm-4 contact-method">
            <h2><i class="fa fa-share-alt"></i><br/>Share With us</h2>
            <hr>
            <p><span class="thin">We welcome general questions, comments and feedback online.</span></p>
            <div class="padding-tb-30 margin-bottom-30">
              <a href="https://twitter.com/stoneagetools" target="_blank" class="btn btn-block share">Tweet @Stoneagetools</a>
              <a href="https://www.facebook.com/Stoneagetools/" target="_blank" class="btn btn-block share">Send Facebook Message</a>
              <div class="text-center padding-30">
              <a href="https://itunes.apple.com/us/app/stoneage-waterblast-tools/id1119374675?mt=8" target="_blank">
              <img src="/assets/img/thumb/app-store-badge.png" class="img-responsive" alt="Download StoneAge mobile app from App Store" style="max-width:200px;"></a>
              <a href="https://play.google.com/store/apps/details?id=com.bf.app6d94cd" target="_blank"><img src="/assets/img/thumb/google-play-badge.png" class="img-responsive" alt="Download StoneAge mobile app from Google Play" style="max-width:200px;"></a>
              </div>
            </div>
          </div> 
        </div>
      </div>
      
      <!-- Sales Tab Content -->
      <div role="tabpanel" class="tab-pane" id="sales-tab" data-target="#sales-tab">
        <div class="row margin-bottom-120">
          <div class="col-sm-3 contact-method">
            <h3 class="bold">US &amp; Canada Waterblast Orders</h3>
            <p><a href="#contact-tab" data-toggle="tab">Purchase from StoneAge directly</a> in the US or Canada.</p>
          </div>
          <div class="col-sm-3 contact-method">
            <h3 class="bold">International Waterblast Orders</h3>
            <p><a href="#wb-tab" data-target="#wb-tab" data-toggle="tab">Contact a dealer in your region</a> to purchase internationally.</p>
          </div>
          <div class="col-sm-3 contact-method">
            <h3 class="bold">Sewer Tools Orders</h3>
            <p><a href="#sewer-tab" data-toggle="tab">Contact a dealer in your region</a> to purchase.</p>
          </div>
          <div class="col-sm-3 contact-method">
            <h3>Downhole Tools Orders</h3>
            <p><a href="#downhole-tab" data-toggle="tab">Contact a dealer in your region</a> to purchase.</p>
          </div>
        </div>
      </div>
      
      <!-- Rentals Tab Content -->
      <div role="tabpanel" class="tab-pane" id="rentals-tab" data-target="#rentals-tab">
        <div class="row margin-bottom-60">
          <div class="col-sm-12 contact-method">
            <h2 class="bold">Tool Rentals</h2>
            <hr>
            <p><strong>Rent StoneAge’s industry leading tools and automated equipment.</strong><br>We are here to help you meet your rental service needs.</p>
            <p>Contact any of our regional locations to rent StoneAge equipment – <em class="bold"> ask about purchase options.</em></p>
            <p><a href="/rentals">Click here for more information.</a></p>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <h5 class="bold slab">Houston Area</h5>
                <p>Pasadena, TX<br>
                  +1 (281) 888-5069<br>
                  <a href="mailto:sales-tx@stoneagetools.com">sales-tx@stoneagetools.com</a></p>
              </div>
              <div class="col-sm-4">
                <h5 class="bold slab">Louisiana</h5>
                <p>Geismar, LA<br>
                  +1 (225) 508-3520<br>
                  <a href="mailto:sales-la@stoneagetools.com">sales-la@stoneagetools.com</a></p>
              </div>
              <div class="col-sm-4">
                <h5 class="bold slab">Ohio</h5>
                <p>North Royalton, OH<br>
                  +1 (440) 230-8080<br>
                  <a href="mailto:sales-oh@stoneagetools.com">sales-oh@stoneagetools.com</a></p>
              </div>
            </div>
            <div class="row padding-tb-30"><p><em>We ship rental equipment and support jobs throughout the continental US.</em></p></div>
          </div>
        </div>
      </div>
      
      {% include waterblast-dealers.html %}
      {% include sewer-dealers.html %}
      {% include downhole-dealers.html %}
      
    </div> 
  </div>
  <!-- End Nav tabs -->

</section>
<!-- End Contact Main -->