---
layout: default
page-type: contact
title: Contact StoneAge
excerpt: Contact and location information, sales and dealer information, support information for StoneAge high pressure waterblasting, sewer jetting, and downhole cleaning equipment.
permalink: /contact
contact-main: yes
---

<!-- Contact Main -->
<section id="contact">
  <!-- Google Map -->
  <div id="main-map-canvas" class="mapping"></div>

  <div class="fluid-container landing-nav margin-bottom-30">
    <div class="container">
      <h1 class="page-heading">Call Us +1 (970) 259-2869 &nbsp;|&nbsp; UK +44 (0) 1684 892065 &nbsp;|&nbsp; NL +31 8590 27370</h1>
      <h4 class="small">OUR SUPPORT TEAM IS HERE TO HELP. WE GLADLY RESPOND TO INQUIRIES AND PROVIDE ADVICE ON YOUR WATERBLAST CHALLENGES. <span class="grey">Monday through Friday 8:00am - 5:00pm regional</span></h4>
    </div>
  </div>
  
  <!-- Updates -->
  <div class="container">
    <div class="col-sm-3" style="background-color: #d34b40; border:1px solid #d34b40; text-align: center; color:#fff; min-height:70px; padding:37px 20px; margin-bottom:0;">
      <h2 style="font-weight: 800; margin: 0;">Location Updates</h2>
    </div>
    <div class="col-sm-9" style="border:1px solid #d34b40; color:#d34b40; padding: 10px 20px; margin-bottom:15px; min-height:70px;">
      <p style="margin: 0;"><strong style="text-transform: uppercase;">All global locations are open for sales, service and rental.</strong> We continue to make the health and safety of our employees and customers our top priority by adhering to all local guidelines. We offer curbside service as well as onsite and virtual product demos. Give us a call and we will gladly help you with all your waterjetting needs.</p>
    </div>
  </div>

  <!-- Nav tabs -->
  <div class="contact-nav container">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active sales-tab"><a href="#sales-tab" aria-controls="sales-tab" role="tab" data-toggle="tab">Sales</a></li>
      <li role="presentation" class="rentals-tab"><a href="#rentals-tab" aria-controls="rentals-tab" role="tab" data-toggle="tab">Rentals</a></li>
      <li role="presentation" class="repairs-tab"><a href="#repairs-tab" aria-controls="repairs-tab" role="tab" data-toggle="tab">Repairs</a></li>
      <li role="presentation" class="wb-tab"><a href="#wb-tab" aria-controls="wb-tab" role="tab" data-toggle="tab">Waterblast Dealers</a></li>
      <li role="presentation" class="sewer-tab"><a href="#sewer-tab" aria-controls="sewer-tab" role="tab" data-toggle="tab">Sewer Dealers</a></li>
      <li role="presentation" class="downhole-tab"><a href="#downhole-tab" aria-controls="downhole-tab" role="tab" data-toggle="tab">Downhole Dealers</a></li>
    </ul>
    <div class="tab-content padding-tb-30">
      
      <!-- Sales Tab Content -->
      <div role="tabpanel" class="tab-pane active" id="sales-tab">
        <div class="row">
          <!-- E-mail Us -->
          <div class="col-sm-4 contact-method">
            <h2><i class="fa fa-envelope"></i><br/>Email Us</h2>
            <hr style="margin-bottom: -15px;"> 
            
            <!-- Pardot contact form -->
            <iframe src="https://info.stoneagetools.com/l/644393/2021-10-07/3lzplz" width="100%" height="600" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
            
<!--            <iframe src="https://www2.stoneagetools.com/l/644393/2019-03-05/2h2lc" width="100%" height="600" scrolling="auto" id="sizetracker" frameborder="0"></iframe>        -->
              <!-- Pardot form sizing -->
              <script type="text/javascript">
                // Create browser compatible event handler.
                var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
                var eventer = window[eventMethod];
                var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
                // Listen for a message from the iframe.
                eventer(messageEvent, function(e) {
                  if (isNaN(e.data)) return;

                  // replace #sizetracker with what ever what ever iframe id you need
                  document.getElementById('sizetracker').style.height = e.data + 'px';

                }, false);
              </script>
            <!-- End Pardot contact form -->
            
          </div> 
          <!-- Locations -->
          <div class="col-sm-4 contact-method">
            <h2>
            <i class="fa fa-map-marker"></i><br/>Locations</h2>
            <hr>
            <h3>Durango Headquarters</h3>
            <p>+1 (970) 259-2869<br/>
              <a href="/durango-headquarters">View details</a></p>
            <h3>Houston Area</h3>
            <p>
              <i class="fa fa-star" st></i> <em>Rental Location</em> <i class="fa fa-star" st></i><br>
              +1 (281) 888-5069<br/>
              <a href="/houston">View details</a></p>
            <h3>Louisiana</h3>
            <p>
              <i class="fa fa-star" st></i> <em>Rental Location</em> <i class="fa fa-star" st></i><br>
              +1 (225) 508-3520<br/>
              <a href="/louisiana">View details</a></p>
            <h3>Ohio</h3>
            <p>
              <i class="fa fa-star" st></i> <em>Rental Location</em> <i class="fa fa-star" st></i><br>
              +1 (440) 230-8080<br/>
              <a href="/ohio">View details</a></p>
            <h3>United Kingdom</h3>
            <p>
              (+44) (0) 1684 892065<br/>
              <a href="/europe">View details</a></p>
            <h3>Netherlands</h3>
            <p>
              <i class="fa fa-star" st></i> <em>Rental Location</em> <i class="fa fa-star" st></i><br>
              +31 8590 27370<br/>
              <a href="/netherlands">View details</a></p>
          </div>
          <!-- Reps -->
          <div class="col-sm-4 contact-method">
            <h2>
            <i class="fa fa-user"></i><br/>Regional Reps</h2>
            <hr>
            <div style="max-height: 550px; overflow-y:scroll;">
              <h3>Africa</h3>
              <p>Vishal Trivedi | +91-98-11-007-501<br/>
                <a href="mailto:vishal.trivedi@stoneagetools.com">vishal.trivedi@stoneagetools.com</a>
              </p>
              <h3 style="margin-top:0;">Asia - Northern</h3>
              <p>Sword Zhou | +1 (778) 865-5224<br/>
                <a href="mailto:sword.zhou@stoneagetools.com">sword.zhou@stoneagetools.com</a>
              </p>
              <h3>Asia - Southeast</h3>
              <p>Randolph Briggs | +971 5 6832 7196<br/>
                <a href="mailto:Randolph.Briggs@stoneagetools.com">randolph.briggs@stoneagetools.com</a>
              </p>
              <h3>Asia - South</h3>
              <p>Vishal Trivedi | +91-98-11-007-501<br/>
                <a href="mailto:vishal.trivedi@stoneagetools.com">vishal.trivedi@stoneagetools.com</a>
              </p>
              <h3>Canada</h3>
              <p>Carrie Grant | +1 (970) 403-1432<br/>
                <a href="mailto:carrie.grant@stoneagetools.com">carrie.grant@stoneagetools.com</a>
              </p>
              <h3>India</h3>
              <p>Vishal Trivedi | +91-98-11-007-501<br/>
                <a href="mailto:vishal.trivedi@stoneagetools.com">vishal.trivedi@stoneagetools.com</a>
              </p>
              <h3>Europe - Benelux</h3>
              <p>Jan van der Wal | +31 6 50 63 50 90<br/>
                <a href="mailto:jan.vanderwal@stoneagetools.com">jan.vanderwal@stoneagetools.com</a>
              </p>
              <h3>Europe - France</h3>
              <p>Jean-Baptiste Ternoy<br/>+44 (0)1684 892065<br/>
                <a href="mailto:jean-baptiste.ternoy@stoneagetools.com">jean-baptiste.ternoy@stoneagetools.com</a>
              </p>
              <h3>Europe - Germany</h3>
              <p>Lukasz Wawrzyniak<br/>+49 (0)151 16805010<br/>
                <a href="mailto:Lukasz.Wawrzyniak@stoneagetools.com">lukasz.wawrzyniak@stoneagetools.com</a>
              </p>
              <h3>Europe - UK</h3>
              <p>Andrew Birt | +44 7788 926261<br/>
                <a href="mailto:andrew.birt@stoneagetools.com">andrew.birt@stoneagetools.com</a>
              </p>
              <h3>Europe - Warthog</h3>
              <p>Alain Dessonnaz | +33 755 60 00 20<br/>
                <a href="mailto:Alain.Dessonnaz@stoneagetools.com">alain.dessonnaz@stoneagetools.com</a>
              </p>
              <h3>Latin America</h3>
              <p>Dan de la Torre | +1 970 946 7703<br/>
                <a href="mailto:dan.delatorre@stoneagetools.com">dan.delatorre@stoneagetools.com</a>
              </p>
              <h3>Middle East</h3>
              <p>Randolph Briggs | +971 5 6832 7196<br/>
                <a href="mailto:Randolph.Briggs@stoneagetools.com">randolph.briggs@stoneagetools.com</a>
              </p>
              <h3>South Pacific</h3>
              <p>Randolph Briggs | +971 5 6832 7196<br/>
                <a href="mailto:Randolph.Briggs@stoneagetools.com">randolph.briggs@stoneagetools.com</a>
              </p>
              <h3>USA - Central &amp; West</h3>
              <p>Carrie Grant | +1 (970) 403-1432<br/>
                <a href="mailto:carrie.grant@stoneagetools.com">carrie.grant@stoneagetools.com</a>
              </p>
               <h3>USA - Northeast &amp; Central</h3>
               <p>Contact Headquarters | +1 (970) 259-2869<br/>
                 <a href="mailto:sales@stoneagetools.com">sales@stoneagetools.com</a>
               </p>
               <h3>USA - Southeast &amp; Texas</h3>
               <p>Sean Baker | +1 (440) 661-0022<br/>
                 <a href="mailto:sean.baker@stoneagetools.com">sean.baker@stoneagetools.com</a>
               </p>
               <h3>USA - Warthog</h3>
               <p>Anne Brennan | +1 (970) 426-4243<br/>
                 <a href="mailto:anne.brennan@stoneagetools.com">anne.brennan@stoneagetools.com</a>
               </p>
               <h3>USA - Warthog</h3>
               <p>Frank Ligori | +1 (815) 674-9253<br/>
                 <a href="mailto:frank.ligori@stoneagetools.com">frank.ligori@stoneagetools.com</a>
               </p>
            </div>
          </div>
          <!-- Social Share
          <div class="col-sm-4 contact-method">
            <h2><i class="fa fa-share-alt"></i><br/>Share With us</h2>
            <hr>
            <p><span class="thin">We welcome general questions, comments and feedback online.</span></p>
            <div class="padding-tb-30 margin-bottom-30">
              <a href="https://twitter.com/stoneagetools" target="_blank" class="btn btn-block share">Tweet @Stoneagetools</a>
              <a href="https://www.facebook.com/Stoneagetools/" target="_blank" class="btn btn-block share">Send Facebook Message</a>
              <div class="text-center padding-30">
              <a href="https://itunes.apple.com/us/app/stoneage-waterblast-tools/id1119374675?mt=8" target="_blank">
              <img src="/assets/img/thumb/app-store-badge.png" class="img-responsive" alt="Download StoneAge mobile app from App Store" style="max-width:200px;"></a>
              <a href="https://play.google.com/store/apps/details?id=com.bf.app6d94cd" target="_blank"><img src="/assets/img/thumb/google-play-badge.png" class="img-responsive" alt="Download StoneAge mobile app from Google Play" style="max-width:200px;"></a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      
      <!-- Rentals Tab Content -->
      <div role="tabpanel" class="tab-pane" id="rentals-tab" data-target="#rentals-tab">
        <div class="row margin-bottom-120">
          <div class="col-sm-12 contact-method">
            <h2 class="bold">Equipment Rentals</h2>
            <hr>            
            <div class="row">
              <div class="col-sm-12">
                <table style="width: 100%; text-align:left;">
                  <tr style="border-bottom: 9px solid #FAFAFA;">
                    <td style="background-color: #666; color: #fff; text-align: center; padding: 0 15px; font-size:1.5em;"><strong class="slab">TX</strong></td>
                    <td style="padding: 4px 15px;"><a href="/houston" style="font-weight: bold; font-style: normal;">StoneAge Houston</a><br>Pasadena, TX<br>+1 (281) 888-5069</td>
                    <td style="background-color: #666; color: #fff; text-align: center; padding: 0 15px; font-size:1.5em;"><strong class="slab">LA</strong></td>
                    <td style="padding: 4px 15px;"><a href="/louisiana" style="font-weight: bold; font-style: normal;">StoneAge Louisiana</a><br>Geismar, LA<br>+1 (225) 508-3520</td>
                    <td style="background-color: #666; color: #fff; text-align: center; padding: 0 15px; font-size:1.5em;"><strong class="slab">OH</strong></td>
                    <td style="padding: 4px 15px;"><a href="/ohio" style="font-weight: bold; font-style: normal;">StoneAge Ohio</a><br>North Royalton, OH<br>+1 (440) 230-8080</td>
                    <td style="background-color: #666; color: #fff; text-align: center; padding: 0 15px; font-size:1.5em;"><strong class="slab">AU</strong></td>
                    <td style="padding: 4px 0 4px 15px;"><a href="http://www.woma.com.au/" target="_blank" style="font-weight: bold; font-style: normal;">WOMA Australia</a><br>WA +61 08 9434 6622<br>NSW +61 02 4648 2311<br>QLD +61 07 5479 3112</td>
                  </tr>               
                  <tr>
                    <td style="background-color: #666; color: #fff; text-align: center; padding: 0 15px; font-size:1.5em;"><strong class="slab">CA</strong></td>
                    <td style="padding: 4px 0 4px 15px;"><a href="https://riverstonewaterjets.com/" target="_blank" style="font-weight: bold; font-style: normal;">Riverstone Pressure Systems</a><br>Canada West +1 (780) 612 1315<br>Canada East +1 (844) 932 5278</td>
                    <td style="background-color: #666; color: #fff; text-align: center; padding: 0 15px; font-size:1.5em;"><strong class="slab">NL</strong></td>
                    <td style="padding: 4px 15px;"><a href="/netherlands" style="font-weight: bold; font-style: normal;">StoneAge NL</a><br>Rotterdam<br>+31 8590 27370</td>
                    <td style="background-color: #666; color: #fff; text-align: center; padding: 0 15px; font-size:1.5em;"><strong class="slab">UK</strong></td>
                    <td style="padding: 4px 15px;"><a href="/europe" style="font-weight: bold; font-style: normal;">StoneAge UK</a><br>Worcester<br>+44 (0)1684 892065</td>
                    <td style="background-color: #666; color: #fff; text-align: center; padding: 0 15px; font-size:1.5em;"><strong class="slab">UK</strong></td>
                    <td style="padding: 4px 15px;"><a href="http://www.powerjetrentals.co.uk/" target="_blank" style="font-weight: bold; font-style: normal;">PowerJet</a><br>Glasgow<br>+44 (0)141 440 5757</td>
                  </tr> 
                </table>
              </div>
            </div>
            <hr>
            <p><strong>Rent StoneAge’s industry leading tools and automated equipment.</strong><br>We are here to help you meet your rental service needs.</p>
            <p>Contact any of our rental locations to rent StoneAge equipment – <em class="bold"> ask about purchase options.</em></p>
            <p><a href="/rentals">Click here for more information.</a></p>
            
            <hr>
          </div>
        </div>
      </div>
      
      <!-- Repairs Tab Content -->
      <div role="tabpanel" class="tab-pane" id="repairs-tab" data-target="#repairs-tab">
        <div class="row margin-bottom-60">
          <div class="col-sm-12 contact-method">
            <h2 class="bold">Tool Repairs &amp; Service</h2>
            <hr>
            <p><strong>Repair and Maintenance Service is available by the same technicians who build and test our tools.</strong></p>
            <p>Contact us for a Return Merchandise Authorization (RMA) to return any StoneAge parts.</p>
            <p><a href="https://www.stoneagetools.com/assets/pdf/reference/RMA_Checklist.pdf" target="_blank">DOWNLOAD THE RMA CHECKLIST FOR RETURNS</a></p>
            <hr>
            <div class="row padding-tb-30">
            <p><em>We try to complete repairs and test every tool within three days of receipt.</em></p>
            <p><a href="/service">Click here for more service information.</a></p></div>
          </div>
        </div>
      </div>
      
      {% include waterblast-dealers.html %}
      
      <!-- Sewer Tab Content -->
      <div role="tabpanel" class="tab-pane" id="sewer-tab" data-target="#sewer-tab">
        <div class="row margin-bottom-60">
          <div class="col-sm-12 contact-method">
            <h2 class="bold">Warthog Sewer Nozzles by StoneAge</h2>
            <hr>
            <p class="width-60">At StoneAge, we know that you want to take on any sewer and drain cleaning job with confidence. In order to do that, <strong>you need nozzles that work</strong>. The problem is that clearing some obstructions is harder than it should be, which is why we created Warthog sewer nozzles.</p>
            <a style="display: block; width: 60%; background-color:#d51c28; margin-left:auto; margin-right:auto; margin-bottom:15px; color:#fff; padding: 10px; font-weight:600;" href="https://www.warthog-nozzles.com/find-a-dealer/" target="_blank">Visit our Warthog website to connect with an Authorized Dealer today</a>
            <div class="row padding-tb-30">
            <p style="font-size: 150%;" class="spaced"><em>When your reputation is <span style="font-weight:400;">on</span> the line, you want Warthog <span style="font-weight:400;">in</span> the line.</em></p>
            <img src="assets/img/warthog_logo_horiz_positive.png" style="max-width: 300px;" class="img-respinsive" alt="Warthog Sewer Nozzles by StoneAge" />
            </div>
          </div>
        </div>
      </div>      
      
      {% include downhole-dealers.html %}
      
    </div> 
  </div>
  <!-- End Nav tabs -->

</section>
<!-- End Contact Main -->