<aside class="col-sm-3 col-sm-offset-2 right-sidebar">
  <h3>What are you cleaning?</h3>
  <ul class="list-unstyled">
    <li><a href="/exchanger-cleaning-applications">Heat Exchangers</a></li>
    <li><a href="/pipe-cleaning-applications">Pipe Interiors</a></li>
    <li><a href="/surface-cleaning-applications">Exterior Surfaces</a></li>
    <li><a href="/tank-vessel-cleaning-applications">Tanks/Vessels</a></li>
    <li><a href="/furnace-boiler-cleaning-applications">Furnaces/Boilers</a></li>
    <li><a href="/sewer-tools">Sewer Lines</a></li>
    <li><a href="/downhole-tools">Downhole</a></li>
  </ul>
</aside>