{% if page.contact-main %}
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnycWatbGyK6ldFqErjFtko1yeMclNUOA&amp;sensor=true"></script>-->
<script>
  jQuery(function($) {
      // Asynchronously Load the map API 
      var script = document.createElement('script');
      script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDnycWatbGyK6ldFqErjFtko1yeMclNUOA&amp;sensor=true&callback=initialize";
      document.body.appendChild(script);
  });

  function initialize() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    console.log(bounds);
    var mapOptions = {
      mapTypeId: google.maps.MapTypeId.HYBRID,
      zoom: 1,
      scrollwheel: false,
      draggable: true,
      panControl: true,
      zoomControl: true,
      mapTypeControl: true,
      scaleControl: true,
      streetViewControl: true,
      overviewMapControl: true,
      rotateControl: true
    };

    // Display a map on the page
    map = new google.maps.Map(document.getElementById("main-map-canvas"), mapOptions);
    map.setTilt(45);

    // Multiple Markers
    var markers = [
        ['StoneAge Headquarters', 37.1993803,-107.8716067, '/durango-headquarters'],
        ['StoneAge Houston', 29.680113,-95.1667929, '/houston'],
        ['StoneAge Louisiana', 30.2112627,-90.9894516, '/louisiana'],
        ['StoneAge Ohio', 41.315634,-81.779663, '/ohio']
    ];

    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0],
            url: markers[i][3]
        });
      
        // Link each marker to location page
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                window.location.href = marker.url;
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(5);
        google.maps.event.removeListener(boundsListener);
    });
  }
</script>
{% endif %}