{% if page.contact-scripts %}
 <!-- Plugin Styles -->
  <link rel="stylesheet" href="../assets/plugins/masterslider/style/masterslider.css">
  <link rel='stylesheet' href="../assets/plugins/masterslider/skins/default/style.css">
<!-- Master Slider -->
<script src="/assets/plugins/masterslider/masterslider.min.js"></script>
<script src="/assets/plugins/masterslider/jquery.easing.min.js"></script>
<script src="/assets/js/master-slider.js"></script>

<!-- Initialize Master Slider -->
<script>
  jQuery(document).ready(function() {    
    MasterSliderShowcase2.initMasterSliderShowcase2();
  });
  
  // Inner tab links
    // Allow Page URL to activate a tab's ID
    var taburl = document.location.toString();
    if( taburl.match('#') ) {
        $('.nav-tabs a[href=#'+taburl.split('#')[1]+']').tab('show');
    }
    // Allow internal links to activate a tab.
    $('a[data-toggle="tab"]').click(function (e) {
        e.preventDefault();
        $('a[href="' + $(this).attr('href') + '"]').tab('show');
    })
</script>
{% endif %}