<!-- Downhole Tab Content -->
<div role="tabpanel" class="tab-pane" id="downhole-tab">
  <div class="row margin-bottom-120">
    <table class="table table-responsive">
      <tr>
        <td>For questions related to the SpinCat line of downhole tools, contact <strong>Alan Charles</strong>.<br>
          Phone: +1 (720) 219-0777<br>
          Email: <a href="mailto:alan.charles@stoneagetools.com">alan.charles@stoneagetools.com</a></td>
      </tr>
      <tr>
        <td>Select your region below to view a list of <span class="bold">downhole tools dealers</span>.</td>
      </tr>
    </table>
    <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-dh-canada">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#dh-canada" aria-expanded="false" aria-controls="dh-canada">
              Canada <i class="fa fa-plus"></i>
            </a>
          </h4>
        </div>
        <div id="dh-canada" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dh-canada">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row first">
                <div class="col-sm-4 dealer">
                  <h4>Global Dynamics Inc.</h4>
                  <p>
                    <span class="grey">Location:</span> Red Deer, Alberta<br/>
                    <span class="grey">Phone:</span> 403-347-4374<br/>
                    <span class="grey">Website:</span> <a href="http://www.gdioiltools.com" target="_blank">www.gdioiltools.com</a>
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-dh-europe">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#dh-europe" aria-expanded="false" aria-controls="dh-europe">
              Europe <i class="fa fa-plus"></i>
            </a>
          </h4>
        </div>
        <div id="dh-europe" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dh-europe">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row first">
                <div class="col-sm-4 dealer">
                  <h4>Hydropulsion Ltd.</h4>
                  <p>
                    <span class="grey">Location:</span> Aberdeen, Scotland<br/>
                    <span class="grey">Phone:</span> +44 (0)1224 200125<br/>
                    <span class="grey">Website:</span> <a href="http://www.hydropulsion.com" target="_blank">www.hydropulsion.com</a>
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>