<!-- Footer -->
  <footer>
    <div class="container padding-tb-30">

      <div class="col-sm-3 padding-right-60">
        <div class="section-heading">
          <h3>Product Support</h3>
        </div>
        <ul class="list-unstyled link-list">
          <li><a href="/product-catalogs">Product Catalogs</a><i class="fa fa-angle-right"></i></li>
          <li><a href="/manuals">Product Manuals</a><i class="fa fa-angle-right"></i>
          <li><a href="http://news.stoneagetools.com/topic/product-bulletins">Product Bulletins</a><i class="fa fa-angle-right"></i>
          <li><a href="/service">Service &amp; Repairs</a><i class="fa fa-angle-right"></i></li>
          <li><a href="/safety">Safety Information</a><i class="fa fa-angle-right"></i></li>
          <li><a href="/custom-solutions">Custom Solutions</a><i class="fa fa-angle-right"></i></li>
          <li><a href="/rentals">Rentals</a><i class="fa fa-angle-right"></i></li>
        </ul>
      </div>

      <div class="col-sm-3 padding-right-60">
        <div class="section-heading">
          <h3>About StoneAge</h3>
        </div>
        <ul class="list-unstyled link-list">
          <li><a href="/about">Our Story</a><i class="fa fa-angle-right"></i></li>
          <li><a href="/jobs">Careers</a><i class="fa fa-angle-right"></i></li>
          <li><a href="http://news.stoneagetools.com">News</a><i class="fa fa-angle-right"></i></li>
          <li><a href="/contact">Contact</a><i class="fa fa-angle-right"></i></li>
        </ul>
      </div>

      <div class="col-sm-3 padding-right-60 margin-top-30">
        
      </div>

      <div class="col-sm-3 map-bg">
        <a href="/"><img class="footer-logo" src="/assets/img/stoneage-negative.png" alt="StoneAge - Engineering the Power of Water"></a>
        <address style="padding-left:50px; padding-top:20px;">
            466 South Skylane Drive <br />
            Durango, CO 81303 <br />
            Phone: +1 970 259 2869 <br />
            Toll Free US: 866 795 1586 <br />
            <a href="/contact"><i class="fa fa-envelope"></i> Send us an e-mail</a><br>
            <a href="/subscribe"><i class="fa fa-paper-plane"></i> Subscribe to E-Blasts</a>
        </address>
      </div>

    </div>
  </footer>

  <div class="fluid-container copyright">
    <div class="container">
      <div class="col-md-11">
        <p>2016 &copy; All Rights Reserved. <a href="/patents">Patents</a> | <a href="/trademarks">Trademarks</a> | <a href="/terms">Terms</a>
        </p>
      </div>
      <div class="col-md-1">
        <a href="#top" title="To Top">
          <i class="fa fa-caret-up"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- End Footer -->


  <!--*** Scripts ***-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="/assets/plugins/featherlight/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
  <!-- Tipue Search -->
  <script src="/assets/plugins/tipuesearch/tipuesearch_content.js"></script>
  <script src="/assets/plugins/tipuesearch/tipuesearch_set.js"></script>
  <script src="/assets/plugins/tipuesearch/tipuesearch.min.js"></script>
  <!-- StoneAge custom functionality -->
  <script src="/assets/js/custom.js"></script>
  
  <!-- product slider script dependencies -->
  {% include master-slider.html %}

  <!-- contact script dependencies -->
  {% include contact-main.html %}
  {% include contact-durango.html %}
  {% include contact-houston.html %}
  {% include contact-ohio.html %}
  {% include contact-la.html %}

  <!-- landing page script dependencies -->
  {% include landing.html %}

  <!-- configurator TEST dependencies -->
  {% include config-bjv-includes.html %}
  {% include config-nav-includes.html %}
  
  <!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
    if (d.getElementById(i)){return;}
    var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
    n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/1875880.js';
    e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
  <!-- End of Async HubSpot Analytics Code --> 
  
  <!-- Start Google Analytics Code -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-19225233-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- End Google Analytics Code -->
