{% if page.master-slider %}
<!-- Plugin Styles -->
<link rel="stylesheet" href="../assets/plugins/masterslider/style/masterslider.css">
<link rel='stylesheet' href="../assets/plugins/masterslider/skins/default/style.css">
<link rel='stylesheet' href="../assets/plugins/masterslider/skins/light-2/style.css">

<!-- Master Slider -->
<script src="/assets/plugins/masterslider/masterslider.min.js"></script>
<script src="/assets/plugins/masterslider/jquery.easing.min.js"></script>
<script src="/assets/js/master-slider.js"></script>


<!-- Initialize Master Slider -->
<script>
  jQuery(document).ready(function() {    
    MasterSliderShowcase2.initMasterSliderShowcase2();
  });
</script>

<!-- Toggle Accordions -->
<script>
  function toggleCaret(e) {
      $(e.target)
          .prev('.panel-heading')
          .find("i.indicator")
          .toggleClass('fa-caret-down fa-caret-up');
  }
  $('#accordion').on('hidden.bs.collapse', toggleCaret);
  $('#accordion').on('shown.bs.collapse', toggleCaret);
</script>

<!-- Horizontal tabs -->
<link rel="stylesheet" href="/assets/css/tabs.css">
<script src="/assets/js/cbpFWTabs.js"></script>
<script>
    (function() {

        [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
            new CBPFWTabs( el );
        });

    })();
</script>

{% endif %}