{% if page.search-pg %}
<!-- Tipue Search -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="/assets/plugins/tipuesearch/tipuesearch_content.js"></script>
<link href="/assets/plugins/tipuesearch/tipuesearch.css" rel="stylesheet">
<script src="/assets/plugins/tipuesearch/tipuesearch_set.js"></script>
<script src="/assets/plugins/tipuesearch/tipuesearch.min.js"></script>

<script>
$(document).ready(function() {
     $('#tipue_search_input').tipuesearch();
});
</script>
{% endif %}