/* Default tab style */

/*
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'stroke7pixeden';
	src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?u58ytb');
	src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?#iefixu58ytb') format('embedded-opentype'),
		url('../fonts/stroke7pixeden/stroke7pixeden.woff?u58ytb') format('woff'),
		url('../fonts/stroke7pixeden/stroke7pixeden.ttf?u58ytb') format('truetype'),
		url('../fonts/stroke7pixeden/stroke7pixeden.svg?u58ytb#stroke7pixeden') format('svg');
}
*/

.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	font-weight: 300;
	font-size: 1.25em;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.tabs nav li.tab-current a span {
	color: #444;
}

.tabs nav a:focus {
	outline: none;
}

/* Icons */
.icon::before {
	z-index: 10;
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.3em;
/*	font-family: 'stroke7pixeden';*/
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-upload::before {
	content: "\e68a";
}
.icon-tools::before {
	content: "\e60a";
}
.icon-plane::before {
	content: "\e625";
}
.icon-joy::before {
	content: "\e6a4";
}
.icon-plug::before {
	content: "\e69a";
}
.icon-home::before {
	content: "\e648";
}
.icon-gift::before {
	content: "\e652";
}
.icon-display::before {
	content: "\e65e";
}
.icon-date::before {
	content: "\e660";
}
.icon-config::before {
	content: "\e666";
}
.icon-coffee::before {
	content: "\e669";
}
.icon-camera::before {
	content: "\e66f";
}
.icon-box::before {
	content: "\e674";
}

/* Content */
.content-wrap {
	position: relative;
}

.content-wrap section {
	display: none;
	margin: 0 auto;
	padding: 2em;
	max-width: 1200px;
/*	text-align: center;*/
    font-size: 14px;
}

.content-wrap section.content-current {
	display: block;
}

.content-wrap section p {
    font-weight: 300;
}

.content-wrap section p.caption {
	padding-top: 10px;
    color: #888;
}

.content-wrap section .panel-group .panel {
    border-radius: 0; 
    border: none;
}

.content-wrap section .panel-default>.panel-heading {
    background-color: #fff; 
    color: #444;
}

.content-wrap section .panel-title {
    font-size: 14px;
}

.content-wrap section .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
}

.content-wrap section .panel {
     -webkit-box-shadow: none; 
     box-shadow: none; 
}

.content-wrap section .panel-default>.panel-heading {
    border-bottom: 1px solid #eee;
}

.content-wrap section .panel-title>a:hover, .content-wrap section .panel-title>a:active, .content-wrap section .panel-title>a:focus {
  color: #444;
}

  
/* Fallback */
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

@media screen and (max-width: 58em) {
	.tabs nav a.icon span {
		display: none;
	}
	.tabs nav a:before {
		margin-right: 0;
	}
}


/*****************************/
/* Triangle and line */
/*****************************/

.tabs-style-linetriangle nav a {
	overflow: visible;
	border-top: 1px dotted rgba(0,0,0,0.2);
	border-bottom: 1px dotted rgba(0,0,0,0.2);
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.tabs-style-linetriangle nav a span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1em;
}

.tabs-style-linetriangle nav li.tab-current a:after, 
.tabs-style-linetriangle nav li.tab-current a:before {
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0;
	height: 0;
	border: solid transparent;
	content: '';
	pointer-events: none;
}

.tabs-style-linetriangle nav li.tab-current a:after {
	margin-left: -10px;
	border-width: 10px;
	border-top-color: rgba(0,0,0,0.2);
}

.tabs-style-linetriangle nav li.tab-current a:before {
	margin-left: -11px;
	border-width: 11px;
	border-top-color: rgba(0,0,0,0.2);
}

@media screen and (max-width: 58em) {
	.tabs-style-linetriangle nav {
		font-size: 0.6em;
	}
}


/*****************************/
/* Bar */
/*****************************/

.tabs-style-bar nav {
/*	background: rgba(40,44,42,0.05);*/
}

.tabs-style-bar nav ul {
	border: 3px solid transparent;
}

.tabs-style-bar nav ul li a {
	margin: 0 1.5px;
/*	background-color: #F2F2F3;*/
  background-color: #dedede;
	color: #74777b;
	transition: background-color 0.2s, color 0.2s;
}

.tabs-style-bar nav ul li a:hover,
.tabs-style-bar nav ul li a:focus {
/*	color: #9c8061;*/
  color: #444;
}

.tabs-style-bar nav ul li a span {
	text-transform: uppercase;
	letter-spacing: .05rem;
	font-weight: 500;
	font-size: .8em;
}

.tabs-style-bar nav li.tab-current a {
/*	background: #d9d5d2;*/
  background-color: #b4b2b0;
	color: #fff;
}

.tabs-style-bar nav li.tab-current:after, 
.tabs-style-bar nav li.tab-current:before {
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0;
	height: 0;
	border: solid transparent;
	content: '';
	pointer-events: none;
}

.tabs-style-bar nav ul li.tab-current:after {
	margin-left: -10px;
	border-width: 10px;
/*	border-top-color: #d9d5d2;*/
  border-top-color: #b4b2b0;
}

.tabs-style-bar nav ul li.tab-current:before {
	margin-left: -11px;
	border-width: 11px;
	border-top-color: #d9d5d2;
}
